In [8]:
# Importing libraries
import pandas as pd 
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns

In [10]:
# Importing dataset
dataset = pd.read_csv('diabetes.csv')

describing or understanding the data

In [11]:
# Preview data
dataset.head()

,Pregnancies,Glucose,BloodPressure,SkinThickness,Insulin,BMI,DiabetesPedigreeFunction,Age,Outcome
0,6,148,72,35,0,33.6,0.627,50,1
1,1,85,66,29,0,26.6,0.351,31,0
2,8,183,64,0,0,23.3,0.672,32,1
3,1,89,66,23,94,28.1,0.167,21,0
4,0,137,40,35,168,43.1,2.288,33,1

In [12]:
# Dataset dimensions - (rows, columns)
dataset.shape

(768, 9)

In [13]:
# Features data-type
dataset.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 768 entries, 0 to 767
Data columns (total 9 columns):
 #   Column                    Non-Null Count  Dtype
---  ------                    --------------  -----
 0   Pregnancies               768 non-null    int64
 1   Glucose                   768 non-null    int64
 2   BloodPressure             768 non-null    int64
 3   SkinThickness             768 non-null    int64
 4   Insulin                   768 non-null    int64
 5   BMI                       768 non-null    float64
 6   DiabetesPedigreeFunction  768 non-null    float64
 7   Age                       768 non-null    int64
 8   Outcome                   768 non-null    int64
dtypes: float64(2), int64(7)
memory usage: 54.1 KB

In [14]:
# Statistical summary
dataset.describe().T

,count,mean,std,min,25%,50%,75%,max
Pregnancies,768.0,3.845052,3.369578,0.000,1.00000,3.0000,6.00000,17.00
Glucose,768.0,120.894531,31.972618,0.000,99.00000,117.0000,140.25000,199.00
BloodPressure,768.0,69.105469,19.355807,0.000,62.00000,72.0000,80.00000,122.00
SkinThickness,768.0,20.536458,15.952218,0.000,0.00000,23.0000,32.00000,99.00
Insulin,768.0,79.799479,115.244002,0.000,0.00000,30.5000,127.25000,846.00
BMI,768.0,31.992578,7.884160,0.000,27.30000,32.0000,36.60000,67.10
DiabetesPedigreeFunction,768.0,0.471876,0.331329,0.078,0.24375,0.3725,0.62625,2.42
Age,768.0,33.240885,11.760232,21.000,24.00000,29.0000,41.00000,81.00
Outcome,768.0,0.348958,0.476951,0.000,0.00000,0.0000,1.00000,1.00

In [15]:
# Count of null values
dataset.isnull().sum()

Pregnancies                 0
Glucose                     0
BloodPressure               0
SkinThickness               0
Insulin                     0
BMI                         0
DiabetesPedigreeFunction    0
Age                         0
Outcome                     0
dtype: int64

OBSERVATION  

There are a total of 768 records and 9 features in the dataset.
Each feature can be either of integer or float dataype.
Some features like Glucose, Blood pressure , Insulin, BMI have zero values which represent missing data.
There are zero NaN values in the dataset.
In the outcome column, 1 represents diabetes positive and 0 represents diabetes negative.

STEP 2: DATA VISUALIZATION

In [1]:
!git config --global user.name "felista47"
!git config --global user.email "manotifelista9@gmail.com"

In [2]:
!git init

Initialized empty Git repository in C:/Users/Admin/Desktop/ML_DataSet/part 3/Diabetes-project/.git/

In [17]:
!git add .

In [18]:
!git status

On branch master
Your branch is up to date with 'origin/master'.

Changes to be committed:
  (use "git restore --staged <file>..." to unstage)
	new file:   diabetes.csv
	modified:   diabetes.ipynb

In [6]:
!git commit -m "PE"

[master (root-commit) 01a4794]  Added an initial diabetes prediction model notebook
 2 files changed, 29 insertions(+)
 create mode 100644 .ipynb_checkpoints/diabetes-checkpoint.ipynb
 create mode 100644 diabetes.ipynb

In [3]:
!git remote -v

origin	https://github.com/felista47/diabetes-prediction-model.git (fetch)
origin	https://github.com/felista47/diabetes-prediction-model.git (push)

In [1]:
!git branch -M master

In [2]:
!git remote add origin https://github.com/felista47/diabetes-prediction-model.git

In [7]:
!git push -u origin master

branch 'master' set up to track 'origin/master'.

To https://github.com/felista47/diabetes-prediction-model.git
 * [new branch]      master -> master